body {
    background-image: url(../images/noctalifont.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

main {
    text-align: center;
    margin: 10vh;
}

.profil {
    width: min-content;
    padding: 5vh;
    border: 1vh solid darkgoldenrod;
    margin: auto;
    border-radius: 10vh;
    background-color: rgba(128, 128, 128, 0.178);
}

.btn {
    margin: 2vh;
}

.btn {
    border-radius: 2vh;
    background-color: darkgoldenrod;
    transition: 0.5s;
    cursor: pointer;
    width: 100%;
    padding: 1.5vh;
    margin: auto;
    margin-top: 2vh;
}

.btn:hover {
    color: darkgoldenrod;
    background: whitesmoke;
}

h2 {
    margin-top: 10vh;
}

table {
    margin: auto;
    border-collapse: collapse;
    color: white;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    text-align: center;
    width: fit-content;
}

td {
    padding: 2vh;
    background-color:  rgba(128, 128, 128, 0.76);
    border-radius: 2vh;
}

th {
    padding: 3vh;
    background-color: rgb(179, 129, 4);
    border-radius: 2vh;
}

